 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 540px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 43px auto 0;
}

.u-section-1 .u-image-1 {
  width: 612px;
  height: 323px;
  margin: 99px auto 10px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 285px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 179px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 290px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: 68px 91px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 39px 91px 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 777px;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  margin: 16px 89px 0;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 255px;
  margin: 40px auto 0 244px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 26px 89px 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 45px 89px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  margin: 77px auto 0 419px;
  padding: 8px 28px 8px 27px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-size: 1rem;
  margin: -40px 415px 60px auto;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 219px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 215px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-left: 150px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 764px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 242px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 152px;
  }
}