 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 808px;
}

.u-section-1 .u-checkout-1 {
  min-height: 762px;
  margin-bottom: 23px;
  height: auto;
  margin-top: 23px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  margin-top: 20px;
}